.col-12:hover {
    position: relative;
    opacity: 0.8;
    width: inherit;
    background-color: aquamarine;
    color: black;
}

.col-12 {
    left: -20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

li {
    list-style-type: none;
}