<div class="list-style">
  <ul>
    <li *ngIf="showEditBtn">
      <button class="btn row-btn-full" (click)="clickEditBtn()" [disabled]="addBtnClicked"
        [ngClass]="{anime:!addBtnClicked}">
        <span *ngIf="editBtnClicked">取消</span>
        編輯
      </button>
    </li>
    <li *ngFor="let item of _listData; let i = index" class="row list-text"
      [ngClass]="{ liClick: i===currentClickIndex }" (click)="clickListData(i,item)">
      <div class="col-9 list-text-text">{{ item.name }}</div>
      <div class="col-1" style="font-size: 1.2em;" *ngIf="editBtnClicked">
        <svg (click)="clickDeleteBtn(i)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-excel-fill"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path class="btn-delete" fill-rule="evenodd"
            d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5.884 4.68a.5.5 0 1 0-.768.64L7.349 8l-2.233 2.68a.5.5 0 0 0 .768.64L8 8.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 8l2.233-2.68a.5.5 0 0 0-.768-.64L8 7.219l-2.116-2.54z" />
        </svg>
      </div>
    </li>

    <li *ngIf="showAddBtn" [hidden]="!addBtnClicked">
      <input type="text" class="row-text" [formControl]="name" placeholder="{{nameInputText}}">
      <input type="text" class="row-text" [formControl]="value" placeholder="{{valueInputText}}">
    </li>
    <li *ngIf="showAddBtn" [hidden]="!addBtnClicked">
      <div class="row-div">
        <button class="col-6 btn btn-confirm" (click)="clickConfirmBtn({name:name.value,value:value.value})"> 確認
        </button>
        <button class="col-6 btn btn-cancel" (click)="clickCancelBtn()"> 取消 </button>
      </div>
    </li>
    <li *ngIf="showAddBtn">
      <button class="btn row-btn-full" (click)="clickAddBtn()" [disabled]="addBtnClicked ||editBtnClicked"
        [ngClass]="{anime:!addBtnClicked}"> ＋ </button>
    </li>
  </ul>
</div>
