@import "../../../../styles.scss";

* {
  margin: 0px;
  padding: 0px;
  // border:1px red solid;
}

.listStyle {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.btn {
  font-size: 1em;
  font-weight: bold;
}

li {
  padding: 0.1em 0px; //每個list 間隔 暫定
  list-style: none;    
}

.rowText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  :nth-child(2){
    display:flex;
    align-items:center;
    justify-content:center;
  }  
}

img {
  line-height: 100%;
  width: 1.2em;
  &:hover {
    transition: all 1s;
    border-radius: 100%;
  }
}   

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;
  &:hover {
    transition: all 0.5s;
    color:rgba($color: $main-text-color, $alpha: 0.5)
  }
}

.plusBtn {
  font-size: 1em;
  font-weight: bold;
  border: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: $main-text-color;
  font-size: 1.2em;
  margin:0.5em 0px;
}

.anime {
  &:hover {
    transition: all 0.5s;
    color:rgba($color: $main-text-color, $alpha: 0.8);
    background-color: rgba($color: $main-color, $alpha: 0.8);
  }
}

.liClick {
  backdrop-filter: brightness(200%);
}

.rowBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.confirmBtn {
  width: 6em;
  background-color: violet;
  &:hover{
    transition: all 0s;
    background-color:rgba($color:  violet, $alpha: 0.8);
  }
}

.cancelBtn {
  min-width: 6em;
  background-color:$sub-color;  
  &:hover{
    transition: all 0s;
    background-color:rgba($color: $sub-color, $alpha: 0.8);
  }
}
