.list-style {
  background-color:#424242;
  text-overflow: ellipsis;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.btn {
  font-size: 1em;
  font-weight: bold;
}

.row-btn-full {
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: 0px;
  width: 100%;
  background-color: #333333 !important;
  font-size: 1.2em;
}


.row-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  :nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-confirm {
  width: 6em;
  background-color: violet !important;
}

.btn-cancel {
  min-width: 6em;
  background-color: steelblue !important;
}

.btn-delete {
  fill: #ec5d5d;
  width: 10px;
}

.btn-delete:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  fill: darken($color: #ec5d5d, $amount: 5);
}

.list-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-text {
  padding-left: 5%;
  color:white;
}

.list-text:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  background-color: $patten-pd;
}

.list-text-text {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
