.list-style {
  background-color: #424242;
  text-overflow: ellipsis;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.btn {
  font-size: 1em;
  font-weight: bold;
}

.row-btn-full {
  font-weight: bold;
  border: 1px;
  border-style: solid;
  width: 100%;
  font-size: 1em;
}

.row-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  :nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.row-fade-show {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  opacity: 1 !important;
}

.row-fade-hide {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  opacity: 0;
}

.btn-confirm {
  width: 6em;
}

.btn-cancel {
  min-width: 6em;
}

.btn-delete {
  fill: #ec5d5d;
  width: 10px;
}

.btn-delete:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  fill: darken($color: #ec5d5d, $amount: 5);
}

.list-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-text {
  font-weight: bold;
  padding-left: 5%;
  color: $patten-text;
}

.list-text:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  color: lighten($patten-text, 50);
  background-color: darken($patten-text, 40);
}

.list-text-text {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
