:host {}

.foot-menu-area.fadeout {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: relative;
    top: 15vh;
    opacity: 0;
}

.foot-menu-area.fadein {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    top: 0vh;
    opacity: 0.5;
}
