<!-- <h1 class="banner">
  Gon's Share Tube
</h1> -->
<!-- 多國語系等APP完成一次修改 {{ 'PAGES.HOME.TITLE' | translate }} -->

<div class="row ">
  <div class="col-3 left-playlist-area">
    <div class="row">
      <div class="left-menu-area col-3">
        <app-gon-button-list [listItem]="gonButtonListDatas" (addEvent)="createPlayList($event)"
          (doBtnClickEvent)="selectPlaylist($event)">
        </app-gon-button-list>
      </div>
      <div class="col-9" style="padding:0%">
        <div class="text-center font-weight-bold tab-header"
          style="padding-top: 0.5em;padding-bottom: 0.5em;border: black;">影片清單</div>
        <app-gon-list [listDataType]="listDataType" [listData]="gonVideoList$|async" [showEditBtn]="true"
          [showAddBtn]="true" (doClickData)="clickListData($event)" (doAddData)="doAddVideo($event)"
          (doDeleteData)="deleteListData($event)">

        </app-gon-list>
      </div>
    </div>
  </div>
  <div class="col-9 right-content">

    <div style="margin: 5px; ">
      <div style="padding-bottom: 1em;"></div>
      <div class="row">
        <button class="col-1 gbtn-sub gbtn-main home-card" type="button" (click)="switchLoop()">
          <span *ngIf="isloop" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="isloop">
            Loop
          </span>
          <span *ngIf="!isloop">
            Ｏ
          </span>
          <span *ngIf="!isloop">
            Loop
          </span>
        </button>

        <button class="col-2 gbtn-sub gbtn-main home-card" (click)="switchReceiveBroadcast()">
          <span *ngIf="isReceiving">
            <span role="status" class="spinner-grow spinner-grow-sm" style="color: gray;" aria-hidden="true"></span>
            接收廣播
          </span>
          <span *ngIf="!isReceiving">停止接收廣播</span>
        </button>

        <div class="col-4">
          <div #roomToast class="toast-sm">房間已切換</div>
          <button class="gbtn-sub gbtn-main home-card" type="button">
            <span>
              Room :
              <input [formControl]="currentGroupFormControl" (keydown.enter)="changeRoom()">
            </span>
          </button>
        </div>
      </div>
      <div style="padding-bottom: 1em;"></div>
      <div class="row" style="background-color: #333333;border-radius: 5px">

        <div id='player' class="col-12 home-card" style="height: 70vh;">
        </div>

        <div #footMenu class="col-12" style="height: 100vh;">
          <div class="row justify-content-center foot-menu-area " style="height: 60vh;border-radius: 90% / 30%;">
            <app-gon-button [btnText]='"shared"' [btnIcon]='"shared"' (clickEvent)="shareVideo()"></app-gon-button>
            <app-gon-button [btnText]='"sharedAt"' [btnIcon]='"sharedAt"' (clickEvent)="doShareAt()"></app-gon-button>
            <app-gon-button [btnText]='"stop"' [btnIcon]='"stop"' (clickEvent)="doStop()"></app-gon-button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
