/* You can add global styles to this file, and also import other style files */

// 主要顏色卡
$main-color :#1A535C;
$sub-color: #4ECDC4;
$main-button-color: #FF6B6B;
$sub-button-color:#FFE66D;
$main-text-color: #F7FFF7;
$darken-main-color: darken($main-color, 10%);
html,
body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#titlebar {
    position: relative;
    background-color: $darken-main-color;
    top: 0px;
    display: block;
    height: 32px;
    width: 100%;
    padding-left: 10px;
}

.maximized #titlebar {
    width: 100%;
    padding: 0;
}

#main {
    height: calc(100% - 32px);
    margin-top: 32px;
    padding: 20px;
    overflow-y: auto;
}

#titlebar {}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    color: $main-text-color;
    grid-column: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

.maximized #window-title {
    margin-left: 12px;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
}

#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5),
(device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2),
(device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3),
(device-pixel-ratio: 3) {
    #window-controls .icon {
        width: 10px;
        height: 10px;
    }
}

#window-controls .button {
    user-select: none;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
    background: #E81123 !important;
}

#close-button:active {
    background: #F1707A !important;
}

#close-button:active .icon {
    filter: invert(1);
}

#min-button {
    grid-column: 1;
}

#max-button,
#restore-button {
    grid-column: 2;
}

#close-button {
    grid-column: 3;
}

#restore-button {
    display: none !important;
}

.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}

//
// 區塊樣式
.bodyLayout {
    background-color: $main-color;
    height: 100%;
}

.banner {
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: columnf;
}

.foot-menu-area {
    padding: 8px;
    position: relative;
    top: 15vh;
    height: 18vh;
    background-color: $darken-main-color;
    opacity: 0;
}

.gbtn-main {
    background-color: $main-button-color;
}

.gbtn-sub {
    background-color: $sub-button-color;
}

// 字體顏色
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $main-text-color !important;
}

// 組合面板
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: $darken-main-color;
    color: $main-text-color;
    width: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 0px;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
}

.dropdown:hover .dropdown-content {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 150px;
    opacity: 0.9;
}